.battle-view{
    position: relative;
    width: 880px;
    height: 560px;
    margin: 50px auto;
    top: 71px;
    border: 4px solid #502f33;
}
.battle-view-border{
    position: relative;
    top: 80px;
    margin: 0 auto;
    background-image: url('./viewport.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    width: 1010px;
}
.action{
    width: 880px;
    height: 400px;
}
.battle-background{
    position: absolute;
    background-image: url('http://pixeljoint.com/files/icons/full/woods.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -220px;
    width: 880px;
    height: 405px; 
}
.lower-action{
    display: flex;
    position: relative;
    background-image: url('./fight-input.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 880px;
    height: 160px;
}
.text{
    height: 120px;
    width: 400px;
    position: relative;
    top: 20px;
    left: 40px;
}
.options{
    height: 160px;
    width: 300px;
    padding: 15px 10px;
    box-sizing: border-box;
}
.options-buttons{
    display: flex;
    justify-content: space-between;
    width:410px;
    position: absolute;
    top: 29px;
    right: 55px;
}
.fight{
    background-image: url('./option-button.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60px;
    width: 200px;
    padding: 22px;
}
.run{
    background-image: url('./option-button.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60px;
    width: 200px;
    padding: 22px;
    color: rgb(192, 204, 220);
}
.abilities{
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 100px;
    padding: 40px;
}
.ability-buttons{
    background-image: url('./title.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 190px;
    height: 48px;
    padding: 17px 15px;
    font-size: 12px;
}
.ability-back{
    background-image: url('./delete.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25px;
    width:25px;
    position: absolute;
    top: 30px;
    right: 55px;
}
.enemy{
    width: 880px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
}
.hero{
    width: 880px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
}
p{
    margin: 0;
}


.action-left{
    position: absolute;

}
.healthbar-left{
    background-image: url('./healthbar-left.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 380px;
    height: 90px;
    position: relative;
    top: -20px;
    left: -20px;
}
.hpcontainter-left{
    position: relative;
    width: 310px;
    height:10px;
    top: 19px;
    left: 21px;
}
.hp-left{
    background-repeat: no-repeat;
    position: relative;
    height: 10px;
}
.name-left{
    position: absolute;
    top: 42px;
    left: 19px;
}
.action-right{
    position: absolute;
    right: 20px;
}
.healthbar-right{
    background-image: url('./healthbar-right.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 380px;
    height: 89px;
    position: relative;
    top: 94px;
    left: 20px;
}
.hpcontainer-right{
    position: relative;
    margin: 0;
    width: 310px;
    top: 60px;
    right: -49px;
}
.hp-right{
    background-repeat: no-repeat;
    position: relative;
    height: 10px;
    float: right;
}
.name-right{
    position: absolute;
    top: 33px;
    left: 130px;
}
.action-image{
    position: absolute;
    bottom: 38px;
    left: 66px;
}
.text{
    padding: 20px;
    box-sizing: border-box;
}
.battle-field{
    width: 300px;
    height: 80px;
    position: relative;
    top: 95px;
    
}
.bf-right{
    right: 59px;
    top: 150px;
}
.bf-left{
    left: 60px;
}
