.battle-view{
    position: relative;
    width: 880px;
    height: 560px;
    margin: 50px auto;
    top: 71px;
    border: 4px solid #502f33;
}
.battle-view-border{
    position: relative;
    top: 80px;
    margin: 0 auto;
    background-image: url('./viewport.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    width: 1010px;
}
.action{
    background-color: lightskyblue;
    width: 880px;
    height: 400px;
}
.lower-action{
    display: flex;
    position: relative;
    background-image: url('./fight-input.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 880px;
    height: 160px;
}
.text{
    height: 120px;
    width: 400px;
    position: relative;
    top: 20px;
    left: 40px;
}
.options{
    height: 160px;
    width: 300px;
    padding: 15px 10px;
    box-sizing: border-box;
}
.options-buttons{
    display: flex;
    justify-content: space-between;
    width:410px;
    position: absolute;
    top: 29px;
    right: 55px;
}
.fight{
    background-image: url('./option-button.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60px;
    width: 200px;
    padding: 22px;
}
.run{
    background-image: url('./option-button.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60px;
    width: 200px;
    padding: 22px;
    color: rgb(192, 204, 220);
}
.abilities{
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 100px;
    padding: 40px;
}
.ability-buttons{
    background-image: url('./title.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 190px;
    height: 48px;
    padding: 17px 15px;
    font-size: 12px;
}
.ability-back{
    background-image: url('./delete.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 25px;
    width:25px;
    position: absolute;
    top: 30px;
    right: 55px;
}
.enemy{
    background-color: lightseagreen;
    width: 880px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
}
.hero{
    background-color: lightslategray;
    width: 880px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
}
p{
    margin: 0;
}
.action-left{
    position: absolute;

}
.healthbar-left{
    background-image: url('./healthbar-left.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 300px;
    height: 70px;
    position: relative;
    top: -20px;
    left: -20px;
}
.name-left{
    position: absolute;
    top: 30px;
    left: 15px;
}
.action-right{
    position: absolute;
    right: 20px;
}
.healthbar-right{
    background-image: url('./healthbar-right.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 300px;
    height: 70px;
    position: relative;
    top: 110px;
    left: 20px;
}
.name-right{
    position: absolute;
    top: 23px;
    left: 100px;
}
.action-image{
    position: absolute;
    bottom: 20px;
    left: 60px;
}
.text{
    padding: 20px;
    box-sizing: border-box;
}
.battle-field{
    background-image: url('./battle-field.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 300px;
    height: 60px;
    position: relative;
    top: 100px;
    
}
.bf-right{
    right: 100px;
}
.bf-left{
    left: 100px;
}
