.select-box{
    background-image: url('http://pixelartmaker.com/art/2d013054fb2d86b.png');
    background-size: cover;
    height: 200px;
    width: 500px;
    position: relative;
    margin: 0 auto;
}
.select-contents{
    position: relative;
    height: 180px;
    top: -165px;
}
.preview-img{
    width: 100px;
    height: 130px;
    position: absolute;
    left: 75px;
}
.select-buttons{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}