.select-box{
    background-image: url('http://pixeljoint.com/files/icons/full/textbox.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 250px;
    width: 700px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
}
.select-contents{
    position: relative;
    height: 180px;
    padding: 35px;
}
.preview-img{
    width: 100px;
    height: 130px;
    position: absolute;
    left: 75px;
}
.select-buttons{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}