.tile {
    display: inline-flex;
    background-color: #3D754C;
}
.grass{
    background-color: #3D754C;
}
.rock {
    background-image: url('/tiles/tileset2.png');
    background-position: 80px 158px;
}
.tree {
    background-image: url('/tiles/tileset.png');
    background-position: -640px -81px;
}
.west-wall{
    background-color: #3D754C;
    background-image: url('/tiles/tileset.png');
    background-position: -320px -320px;
}
.north-wall{
    background-color: #3D754C;
    background-image: url('/tiles/tileset.png');
    background-position: -241px -399px;
}
.east-wall{
    background-color: #3D754C;
    background-image: url('/tiles/tileset.png');
    background-position: -161px -320px;
}
.south-wall{
    background-color: #3D754C;
    background-image: url('/tiles/tileset.png');
    background-position: -240px -241px;

}
.transition-south{
    background-color: #3D754C;

}
.transition-north{
    background-color: #3D754C;

}
.south-west-gate{
    background-color: #3D754C;
    background-image: url('/tiles/tileset.png');
    background-position: -320px -241px;
}
.south-east-gate{
    background-color: #3D754C;
    background-image: url('/tiles/tileset.png');
    background-position: -161px -241px;
}
.north-west-gate{
    background-color: #3D754C;
    background-image: url('/tiles/tileset.png');
    background-position: -321px -399px;
}
.north-east-gate{
    background-color: #3D754C;
    background-image: url('/tiles/tileset.png');
    background-position: -164px -399px;
}
.south-west-corner{
    background-color: #3D754C;
    background-image: url('/tiles/tileset.png');
    background-position: -0px -400px;
}
.south-east-corner{
    background-color: #3D754C;
    background-image: url('/tiles/tileset.png');
    background-position: -80px -400px;
}
.north-west-corner{
    background-color: #3D754C;
    background-image: url('/tiles/tileset.png');
    background-position: -0px -320px;
}
.north-east-corner{
    background-color: #3D754C;
    background-image: url('/tiles/tileset.png');
    background-position: -80px -320px;
}
.battle{
    background-color: lightblue;
}
.boss1{
    background-color: darkblue;
}
.boss2{
    background-color: darkblue;
}
.boss3{
    background-color: darkblue;
}
.boss4{
    background-color: darkblue;
}
.boss5{
    background-color: darkblue;
}
.boss6{
    background-color: darkblue;
}
.menu{
    position: absolute;
    top: -5px;
    left: -10px;
}
.open{
    display: flex;
    justify-content: space-between;
    background-image: url('./menu.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 304px;
    height: 60px;
    padding: 17px;
    box-sizing: border-box;
}
.menu-item{
    margin-bottom: 15px;
}
.exit{
    text-decoration: none;
    color: rgb(192, 204, 220);
    position: absolute;
    right: 50px;
}
.save{
    position: absolute;
    left: 50px;
}